.leah{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #eeeee4;
    width: 80vw;
    height: 90vh;
    // background-color: #c02323;
    .topper{
        display: flex;
        flex-direction: column;
    gap: 50px;
    
        // border: 2px solid;
        justify-content: space-between;
        padding: 5px;

    .tit{
        display: flex;
        // flex-direction: row;
        width: 50vh;
        height: 80px;
        justify-content: space-around;
        // border: 1px solid blue;
        width: 80vw;
        img{
            width: 60px;
        }
    }
   
}
 
    h2{
        color: Black;
        width: 40%;
        border-radius: 5px;
        padding: 5px 0px 5px 5px;
        background-color: #0abe8e;
        cursor: pointer;
       
  
        &::after{
          content: "";
          width: 0%;
          height: 3px;
          background: blue;
          display: block;
          // margin: auto;
          transition: 1.5s;
          position: relative;
        }
  
        &:hover::after{
          width: 60%;
        }
        }
        .modal-Details{
            display: flex;
            margin-top: 30px;
            flex-direction: row;
            // border: 2px solid;
            width: 100%;
            height: 80%;
            gap: 80px;
                  
                
                .first-details{
                  display: flex;
                  flex-direction: column;
                  // border: 2px solid;
                  width: 45%;
                  padding: 10px;
                  gap: 50px;
                  // justify-content: space-between;
                
                }
                .employee-detail{
                  display: flex;
                  flex-direction: column;
                  // border: 2px solid aqua;
                  gap: 50px;
                  width: 45%;
                  
                }
                .employee-inputs{
                  font-size: 20px;
                  gap: 50px;
                  // font-weight: bolder;
                  strong{
                    font-weight: bolder;
                  }
                }
              } 


}