.add-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .cont {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;

    h2 {
      text-align: center;
    }

    .add-form {
      margin-top: 20px;

      form {
        .form-inputs {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
       gap: 20px;
       margin-right: 20px;

          .first1 {
            width: calc(50% - 10px);
            margin-bottom: 10px;

            div {
              margin-bottom: 10px;

              label {
                display: block;
                margin-bottom: 5px;
              }

              input,
              select {
                width: 100%;
                padding: 8px;
                border-radius: 5px;
                border: 1px solid #ccc;
              }
            }

            .profile {
              input[type='file'] {
                width: auto;
                padding: 8px 0;
              }
            }
          }

          .credentials-container {
            width: calc(50% - 10px);
            margin-bottom: 10px;

            .credentials-section {
              .credential-item {
                margin-bottom: 10px;

                label {
                  display: block;
                  margin-bottom: 5px;
                }

                input {
                  width: 100%;
                  padding: 8px;
                  border-radius: 5px;
                  border: 1px solid #ccc;
                }
              }
            }

            .more {
              .credential-item {
                margin-bottom: 10px;
              }
            }
          }
        }

        button[type='submit'] {
          width: 100%;
          padding: 10px;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }
}
