.nav {
    display: flex;
    justify-content: space-between;
    background-color: #2596be;
    height: 8vh;
    width: 99%; 

    .logo{
        display: flex;
        align-items: center;
        img{
            width: 100px;
            height: 8vh;
            
        }
        p{
            font-size: 18px;
            font-weight: bold;
            color: white;
        }
    } 
    .profile{
        display: flex;
        // justify-content: end;
justify-content: center;
align-items: center;
        gap: 20px;
        font-size: 25px;
        font-weight: bold;
        color: white;
      
   
    .profile img{

        width: 10px;
        height: 10px;
        border: 50%;

        margin-right: 10px;
    } 
    // .logout{
    //     width: 30px;
    //     height: 30px;
    // }
    .profile img:last-child {
        display: flex;
        align-items: center;
        width: 30px; 
        height: auto;
      }
     .logout-statement{
        margin-top: 30px;
        font-size: 20px;
        padding-right: 6px;  
     } 
    }
}