.sideProfile1 {
    display: flex;
    gap: 5px;
    // background-color: white;
  .SideImage1{
    display: flex;
    gap: 16px;
    .leftprofile1{
      display: flex;
      padding-top: 10px;
    }
  }
  }