.container {
    display: flex;
    flex-direction: column;
    background-color: #eeeee4;
    height: 95vh;
    width: 80vw;
  .main{
    display: flex;
    // flex-direction: column;
    width: 20vw;
  }
  
  .input-field {
    background-color: #f5f5f5;
    width: 20vw;
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    // margin-bottom: 10px;
  
  
  .label {
    display: block;
    font-size: 15px;
    padding: 5px;

  }
  .label input{
    width:100%;
    // background-color: blue;
    width: 18vw;

  }
  
  .input-field input[type='number'] {
    width: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
}
  
  .button {
    width: 30%;
    padding: 10px ;
  //   padding-left: 65px;
  align-self: center;
    border: none;
    background-color: #2a277a;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
    border-radius: 10px;
    

    &:hover{
      background-color: blue;
    }
  }
  
  .net-salary {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .external{
    display: flex;
    flex-direction: column;
  }
  td{
    button{
      width: 60%;
      padding: 10px ;
    //   padding-left: 65px;
    align-self: center;
      border: none;
      background-color: #2a277a;
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: 1s;
      border-radius: 10px;
      
  
      &:hover{
        background-color: blue;
      }
    }
  }
}  